
{% extends "base.html" %}
{% block title %}Tempo{% endblock %}
{% block head %}
  {{ super() }}
  <meta charset="UTF-8"> 
  <script >
 let totalSeconds = 0;
const MAX_SECONDS = 86400; // 24 horas en segundos  
function incrementTime(secondsToAdd) {
    totalSeconds += secondsToAdd;
    if (totalSeconds > MAX_SECONDS) {
        totalSeconds = MAX_SECONDS;
    }
    updateCounter();
    updateSendLink();
}

function resetTime() {
    totalSeconds = 0;
    updateCounter();
    updateSendLink();
}

function updateSendLink() {
    const hours = Math.floor(totalSeconds / 3600);
    const minutes = Math.floor((totalSeconds % 3600) / 60);
    const seconds = totalSeconds % 60;
    if (`${seconds}` != '00' || `${minutes}` != '00' || `${hours}` != '00') {
          sendLinkElement.href = `cheking?hours=${hours}&min=${minutes}&seg=${seconds}`;
    } else {
        counterElement.classList.add('red');
        console.log(counterElement.className)
    }
}

function updateCounter() {
    const hours = Math.floor(totalSeconds / 3600);
    const minutes = Math.floor((totalSeconds % 3600) / 60);
    const seconds = totalSeconds % 60;
    counterElement.textContent = `${pad(hours)}:${pad(minutes)}:${pad(seconds)}`;
}
function pad(num) {
    return num.toString().padStart(2, '0');
}

  </script>
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="container ">
        
        <img src="{{ url_for('static', filename='logo/mobility.svg') }}" alt="Imagen" class="image">
        <h2 class ="center">Tempo de carregamento</h2>
        <div class="counter ">
            <span id="counter">00:05:00</span>
            
            <button class="button " onclick="incrementTime(1800)">+ 30 min</button>
            
        </div>
        

          <a class="button-fone  plain-text"  href="/tipopagamento">Voltar</a>
          
          <a id="sendLink" href="/cheking" class="button-fone plain-text">
           Avançar
        </a>
         
      
    </div>
    <div class="teclado">
        <button class="button" onclick="incrementTime(1)">1</button>
        <button class="button" onclick="incrementTime(2)">2</button>
        <button class="button" onclick="incrementTime(3)">3</button>
        <button class="button" onclick="incrementTime(4)">4</button>
        <button class="button" onclick="incrementTime(5)">5</button>
        <button class="button" onclick="incrementTime(6)">6</button>
        <button class="button" onclick="incrementTime(7)">7</button>
        <button class="button" onclick="incrementTime(8)">8</button>
        <button class="button" onclick="incrementTime(9)">9</button>
  
        <button class="button" onclick="deletarUltimo()"><-</button>
        <button class="button" onclick="incrementTime(0)">0</button>
        <button class="button" onclick="reset()">C</button>
    </div>
    
</div>    
{% endblock %}

