{% extends "base.html" %}
{% block title %}Carregamento{% endblock %}
{% block head %}
{{ super() }}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />

<script>

    function inserir(numero) {
        let text = document.querySelector("[name='tel']").value + numero;
        text = text.replace(/\D/g, "")
        text = text.replace(/(\d{2})(\d)/, "($1) $2")
        text = text.replace(/(\d)(\d{4})$/, "$1-$2")
        text = text.substring(0, 15)

        document.querySelector("[name='tel']").value = text;
    }
    function deletarUltimo() {
        let text = document.querySelector("[name='tel']").value;
        document.querySelector("[name='tel']").value = text.substring(0, text.length - 1);
    }
    function reset() {
        let text = '';
        document.querySelector("[name='tel']").value = text;
    }

    function encerrar(telefone) {
        let fone = document.querySelector("[name='tel']").value.replace(/[^\d]+/g,'') 
        if (`${fone}` == '') {
            alert("Telefone não cadastrado");
        } else if (`${fone}` !== telefone) {
            alert("Telefone diferente do cadastrado");
        } else {
            window.location.href = '/'
        }
    }
</script>

{% endblock %}
{% block content %}


<div class="grid-container">
    <div class="container">
        <img src="{{ url_for('static', filename='logo/mobility.svg') }}" alt="Imagen" class="image">
        <h2>Muito obrigado pela sua escolha.</h2>

        <div>
            <a id="counter">{{ Time }}</a>
        </div>
        
        

        <h3 id="intruciones">Pegue o carregador, coloque-o no carro e pressione o botão Iniciar.</h3>

        <button class="button-fone " onclick="startcronometro()" id="startButton">Iniciar</button>
        <h4 id="intruciones">Para Encerrar preecha seu telefone e clique no botão Encerrar.</h4>
        <input type="tel" class="input-timer" id="tel" name="tel" maxlength="15" placeholder="(00) 00000-0000">
        <button onclick="encerrar('{{ Fone }}')" class="button ">Encerrar</button>
        

    </div>
    <div class="teclado">
        <button class="button" onclick="inserir(1)">1</button>
        <button class="button" onclick="inserir(2)">2</button>
        <button class="button" onclick="inserir(3)">3</button>
        <button class="button" onclick="inserir(4)">4</button>
        <button class="button" onclick="inserir(5)">5</button>
        <button class="button" onclick="inserir(6)">6</button>
        <button class="button" onclick="inserir(7)">7</button>
        <button class="button" onclick="inserir(8)">8</button>
        <button class="button" onclick="inserir(9)">9</button>

        <button class="button" onclick="deletarUltimo()"><-</button>
                <button class="button" onclick="inserir(0)">0</button>
                <button class="button" onclick="reset()">C</button>
    </div>
</div>
{% endblock %}

{% block script %}
let start = {{startauto}}
console.log(111)
if (start === true){
startcronometro()

};


{% endblock %}