
{% extends "base.html" %}
{% block title %}Voucher{% endblock %}
{% block content %}
<script>
    
    function inserir(numero) {
      let text = document.querySelector("[name='voucher']").value + numero;
      text = text.replace(/\D/g, "")
      //aplicar replace mascara para 000.000.000.000.000;
      text = text.replace(/(\d{3})(\d)/, '$1.$2');
      text = text.replace(/(\d{3})(\d)/, '$1.$2');
      text = text.replace(/(\d{3})(\d)/, '$1.$2');
      text = text.replace(/(\d{3})(\d)/, '$1.$2');
      text = text.substring(0,19);
      document.querySelector("[name='voucher']").value = text;
    }
    function deletarUltimo() {
      let text = document.querySelector("[name='voucher']").value ;
      document.querySelector("[name='voucher']").value = text.substring(0,text.length-1);
    }
    function reset() {
      let text = '' ;
      document.querySelector("[name='voucher']").value = text;
    }
    function sendcheking() {
    let voucher = document.querySelector("[name='voucher']").value
    const strNum = voucher.replace(/[^0-9]/g, '')
    let data = strNum.substring(4,12)
    let tempo = strNum.substring(12,14)
    let digito = strNum.substring(14,14)
    console.log('data '+data)
    console.log('tempo '+tempo)
    console.log('digito '+digito)
    //extrair data hora minutos voucher


    const hours = Math.floor((tempo*10)/ 60);          
    const minutes = (tempo*10) % 60;
    
    if ( `${minutes}` != '00' || `${hours}` != '00') {
      window.location.href = `cheking?hours=${hours}&min=${minutes}&seg=00`

    } else {
      timeT.classList.add('red');
      console.log(timeT.className)
    }
  }
</script>  

<div class="grid-container">
    <div class="container ">
        
        <img src="{{ url_for('static', filename='logo/mobility.svg') }}" alt="Imagen" class="image">
        <h1>Informe seu Voucher</h1>
        <input type="text" class="input" id="voucher" name="voucher" maxlength="20" placeholder="000.000.000.000.000" >
       
        <div class="info-container div">
          
        <a class="button-fone  plain-text"  href="/tipopagamento">Voltar</a>
        <p class="button-fone" onclick="sendcheking()">Avançar</p>
        </div>

    </div>
    <div class="teclado">
        <button class="button" onclick="inserir(1)">1</button>
        <button class="button" onclick="inserir(2)">2</button>
        <button class="button" onclick="inserir(3)">3</button>
        <button class="button" onclick="inserir(4)">4</button>
        <button class="button" onclick="inserir(5)">5</button>
        <button class="button" onclick="inserir(6)">6</button>
        <button class="button" onclick="inserir(7)">7</button>
        <button class="button" onclick="inserir(8)">8</button>
        <button class="button" onclick="inserir(9)">9</button>
  
        <button class="button" onclick="deletarUltimo()"><-</button>
        <button class="button" onclick="inserir(0)">0</button>
        <button class="button" onclick="reset()">C</button>
    </div>
  </div>   
   
   
   
    



{% endblock %}
